doctype html
html
  head
    meta(charset='UTF-8')
    title Schisma
    link(rel='stylesheet', href='/stylesheets/compiled.css')
    link(rel='stylesheet', href='/stylesheets/handsontable.full.min.css')

  body
    script(src='/javascripts/index.js')
